@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: white !important;
  color: black !important;
}

/* Sidebar Styling */
.w-96 {
  background-color: #f0f0f0;
  /* Light gray background */
  border-right: 1px solid #ddd;
  /* Subtle gray border */
  transition: width 0.3s ease-in-out;
  /* Add transition for smooth animation */
}

.w-0 {
  width: 0;
  /* Width when collapsed */
  overflow: hidden;
  /* Hide content when collapsed */
  transition: width 0.3s ease-in-out;
  /* Add transition for smooth animation */
}

#sidebar {
  background-color: #f0f0f0;
  /* Light gray background for the entire sidebar */
  transition: width 0.3s ease-in-out;
  /* Add transition for smooth animation */
}

#sidebar>div {
  border-bottom: 1px solid #ddd;
  /* Dividers between sidebar sections */
}

/* Thin scrollbar */
.thin-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.thin-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.thin-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.container-imagem {
  width: -webkit-fill-available !important;
}

.imagem-comentario {
  min-width: 12vw;
}